
*{
    margin: 0;
    padding: 0;
    
}

@font-face {
  font-family: Forum;
  src: url(/Forum/Forum-Regular.ttf);
}
.fondopag{
    background-color: #fef1e7;
}

a{
  font-family: 'Forum';
}
h5{
  font-family: 'Forum';
}
p{
  font-family: 'Forum';
}



.color_barranav{
 
    background-color: #e5cfcf;
    height:80px ;
    
}
.medida{
    width: 60px;
    height: 60px;
}
.bgcolor{
    background-color:  #F5E8D2;
}
.bagico{
  background-color: #deb4b4e7!important;
}
.buscador{
    width: 300px;
    height: 60px;
}
.imagen{
    transition: .5s, color .10s;
        -webkit-transition: .5s, color .10s;
        -moz-transition: .5s, color .10s;
}
.imagen:hover{
    transform: scale3d(1.3, 1.3, 0.3);
        -webkit-transform: scale3d(1.3, 1.3, 0.3);
        -moz-transform: scale3d(1.3, 1.3, 0.3);
}
.letra{
    font-size: 19px;
}


    .icono{
        font-size: 24px;
        transition: .5s, color .10s;
            -webkit-transition: .5s, color .10s;
            -moz-transition: .5s, color .10s;
    }
    .icono:hover{
        transform: scale3d(1.9, 1.9, 0.3);
            -webkit-transform: scale3d(1.9, 1.9, 0.3);
            -moz-transform: scale3d(1.9, 1.9, 0.3);
    }

.fondo1 {
    background-color: #e9e6e1;
    padding: 100px;
   
}

 .titulo {
    width: 407.38px;
    font-size: 36px;
    font-family: 'forum';
}
.caja0 {
    width: 250px;
}




.espacio {
padding-bottom: 80px;
}
.espacio1a {
background-color: #431e15;
}


.formulario {
    width: 535px;
    font-family: 'forum';
    font-size: 20px;
}



.logow {
    width: 100%;
    height: 100%;
    z-index: 3;
    position: relative;
}



.btnAcceder {
    background-color: #d9ac36;
    border: none;
}




.contraseña {
    color: #969696;
    text-decoration: none;
}

.micuenta {
    background-color: #d9ac36;
    translate: 10px;
}
footer{
    
    background-color: #e5cfcf;
    transform: translateY(-200px);
}

.margen_footer{
    margin-top:100px;
  }   
  
  
  .padding-right { padding-right:10px; }
  
  .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
  .footer_ul2_amrc li p { display:table; }
  .footer_ul2_amrc li a:hover { text-decoration:none;}
  .footer_ul2_amrc li i { margin-top:5px;}
  
  .bottom_border { border-bottom:1px solid black; padding-bottom:20px;}
  .foote_bottom_ul_amrc {
      list-style-type:none;
      padding:0px;
      display:table;
      margin-top: 10px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
  }
  .foote_bottom_ul_amrc li { display:inline;}
  .foote_bottom_ul_amrc li a { color:black; margin:0 12px;}
  
  .social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
  .social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
  .social_footer_ul li a { color:black; border:1px solid black; padding:8px;border-radius:50%;}
  .social_footer_ul li i {  width:20px; height:20px; text-align:center;}
  .social_footer_ul{
    transform: translateY(-10px);
  }
  .imagen12{
    width: 250px;
    height: 180px;
  }


