@font-face {
    font-family: 'forum';
    src: url(Forum/Forum-Regular.ttf);
}

:root {
    --color-dark: #15181f;
    --color-dark-x: #2d343f;
    --color-dark-xx: #1f232b;
    --color-light: #ffffff;
    --color-grey: #f5f6f8;
}


.fondo1 {
    background-color: #fbeff9;
    padding: 1px;
    font-family: 'forum';
    background-image: url(Forum/img/v855-techi-nunoon-29.jpg);
   
}

.fondo2{
    background-color: #ffffff;
    width: 550px;
    padding: 230px;
    margin: 116px;
    height: 895px;

}

.fondo3 {
    background-color: #ffffff;
   
}

.logop {
    background-color: #ffffff;
    width: 457px;
    padding: 5px;
    translate: -229px;
transform: translateY(-227px);

}
.medida{
    width: 200px;
    height: 200px;
    translate:173px;
}

.form {
    background-color: #ffffff;
transform: translateY(-15px);
translate: -219px;
font-family: 'forum';
height: 0px;

}

.form1 {
    translate: -27px;
transform: translateY(-172px);

}

.btnregistro {
    background-color: #e5cfcf;
    translate: 215px;
    transform: translateY(-175px);
    
}

.colorInputs {
    background-color: #ffffff;
    border: none;
    
}

.btniniciar {
    background-color: #e5cfcf;
    translate: 168px;
    transform: translateY(-170px);
    width: 195px;
}

.btn {
    font-weight: 400;
    padding: 1rem 2rem;
    border-radius: 5rem;
    min-width: 10rem;
}

.btn-outline-dark {
    border: 2px solid var(--color-dark-xx);
}

.btncheck {
    width: 480px;
    translate: 21px;
}

h5{
    text-align: center;
}

.margen_footer{
    margin-top: 50px;
  }   
  
  
  .padding-right { padding-right:10px; }
  
  .footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
  .footer_ul2_amrc li p { display:table; }
  .footer_ul2_amrc li a:hover { text-decoration:none;}
  .footer_ul2_amrc li i { margin-top:5px;}
  
  .bottom_border { border-bottom:1px solid #e5cfcf; padding-bottom:20px;}
  .foote_bottom_ul_amrc {
      list-style-type:none;
      padding:0px;
      display:table;
      margin-top: 10px;
      margin-right: auto;
      margin-bottom: 10px;
      margin-left: auto;
  }
  .foote_bottom_ul_amrc li { display:inline;}
  .foote_bottom_ul_amrc li a { color:#e5cfcf; margin:0 12px;}
  
  .social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
  .social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
  .social_footer_ul li a { color:#e5cfcf; border:1px solid #e5cfcf; padding:8px;border-radius:50%;}
  .social_footer_ul li i {  width:20px; height:20px; text-align:center;}
  .imagen12{
    width: 250px;
    height: 200px;
  }


















